* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(20, 20, 20);
    width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100vw;
    padding-left: 2%;
    margin-top: 1%;
    height: 7vh;
}

.Logo {
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
}

.Logo h2 {
    color: white;
    font-weight: 500;
}

.Logo img {
    width: 20%;
    margin-right: .5%;
}

.links {
    width: 100%;
    padding-left: 5%;
    margin-top: .8%;
}

ul {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
}

li {
    margin-top: 1%;
    color: white;
    margin-right: 3%;
    font-weight: 200;
    font-size: .9em;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1%;
    height: 93vh;
}

.left {
    margin-top: 2em;
    margin-left: 50px;
}

h1 {
    font-size: 50px;
    color: #F2FC89;
}

.para {
    color: white;
    font-size: .9em;
    padding: 1% 0;
    font-weight: 200;
}

.para p {
    padding-top: 1%;
}

form {
    margin-top: 2%;
    display: flex;
    width: 40%;
    flex-direction: column;
}

input {
    margin-top: 5%;
    width: 100%;
    height: 40px;
    background-color: #212020;
    border: none;
    color: white;
    border-radius: 10px;
    padding-left: 5%;
}

button {
    background: #33A64D;
    border: none;
    border-radius: 10px;
    padding: 5% 5%;
    color: white;
    font-weight: 600;
    margin-top: 7%;
}

.right {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right a {
    color: white;
    font-size: .8em;
    margin-bottom: 5%;
}

h3 {
    color: white;
    font-weight: 500;
    margin-top: -5%;
    font-size: 50px;
}

.Score {
    font-size: 150px;
}

.heroPic {
    width: 450px;
}

.second {
    width: 100vw;
}

#secondInner {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 2%;
}

h2 {
    color: #F2FC89;
    margin-bottom: 3%;
}

.card-list {
    display: flex;
    flex-direction: column;
}

.card-list li {
    margin-top: 5%;
}

.Pcircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: yellowgreen;
}

.Ncircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: tomato;
}


.card {
    width: 450px;
    height: 150px;
    border-radius: 20px;
    background: #1c1c2b;
    padding: 4%;
    text-align: left;
}

.card p {
    margin-top: 5%;
    font-weight: 300;
    color: white;
    font-size: 1.1em;
    margin-left: 2%;
    font-style: italic;
}

.scroll-up {
    margin-top: 2%;
    margin-bottom: 4%;
    width: 100vw;
    text-align: center;
}

.scroll-up a {
    color: tomato;
}
